* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Kanit", "Segoe UI", Helvetica, sans-serif;
  background-color: rgb(255, 253, 253);
  color: #000;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  /* background-color: rgb(125, 188, 243); */
  margin: auto;
}

/* =====================header=========================== */

.site-header {
  background-color: white;
  padding: 20px 0;
  border-bottom: 2px solid rgb(150, 150, 150);
}

.box-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.e{
   color: red; 
}
.b{
   color: rgb(27, 24, 228); 
}
.a{
   color: rgb(255, 174, 0); 
}
.y{
   color: rgb(67, 218, 47); 
}
.header-title {
  
  font-size: 2.5rem;
  margin-bottom: 4px;
}

.header-Search-box{
    color: #cecece;
  border: 1px solid #313131;
  border-radius: 20px;
  width: 50%;
 
 padding: 10px;
}
.icon-Search{
   padding: 0 10px;
}
.header-Search a{
    color: #ffffff;
  border: 1px solid #313131;
  border-radius: 20px;
   
 padding: 10px 50px;
  transition: all 0.3s ease;
 text-align: center;
 background-color: #4d71ff;
}
.header-Search a:hover{
   border-color:#313131;
  background-color: #3b5ada;
  color: white;
}


.social-icon a {
  
  color: #444444;
  border: 1px solid #313131;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: all 0.3 ease;
}

.social-icon a:hover {
  border-color: #145278;
  background-color: #ffe926;
  color: white;
  transform: translateY(-11px);
}

a {
  color: #2548d1;
  text-decoration: none;
}

/* =====================navbar=========================== */
.main-nav {
  background-color: #ffffff;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* gap: 15px; */
}

.nav-menu li a {
  color: #000000;;
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
}

.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: #f8f8f8;
  
}
.hero-header{
  background-color: #2548d1;
  color: #b2c0f4;
  padding: 20px;
  width: 1000px;
  max-width: 100%;
  margin: auto;

  gap: 40px;
  
  display: flex;
  /* justify-content: space-between; */
  align-items: center; 
}
.hero-header-box{
  background-color: #b2c0f4;
  color: #2548d1;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 15px;
  
  margin-top: 15px;
}

.hero-header h2 span,
.hero-header p span{
  display: block;
}

.hero-text{
  width: 50%;
}


.box-telephone,
.box-bag,
.box-clock{
  width: 220px;
  height: 220px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-telephone img,
.box-bag img,
.box-clock img{
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.hero-images{
  
  display: flex;
  gap: 20px;   
}
